@font-face {
  font-family: specimen/Righteouscategory=Display;
  src:url(fonts.google.com/specimen/Righteouscategory?=Display)
 }

html{
  scroll-behavior: smooth;
}
body{
  background-color:#1C1C1C;
}

header{
  padding: 1.5%;  
  font-family: 'Alfa Slab One', cursive;
  background-color: #4F4F4F;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixo{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.img_logo{
  width: 20%;
}

.logo{
  padding-top: 1%;
  padding-bottom: 1%;
}

footer{
  background-color: rgba(105,105,105,0.3);
  padding: 1.5%;
  font-family: 'Righteous', cursive;
  
}

.itens_menu{
  line-height: 1.5;
  text-align: center;
}

.itens_menu a{
  font-size: 1.2em;
}


.itens_menu a:link, .itens_menu a:visited{
  border: 2px solid #FFFFFF;
  color:	#FFFFFF;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 2px;
  margin-top: 2px;

}

 /* mouse over link */
.itens_menu a:hover {
  border: 5px solid	#000000;
  color: #000000;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 2px;
  margin-top: 2px;
}

 /* selected link */
.itens_menu a:active {
  background-color: rgb(255, 255, 255);
  border: #FFFFFF;
  color: #000000;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 2px;
  margin-top: 2px;
 }

section a:link{
  color: #696969;
}

section a:visited {
  color: #FFF;
}

section a:hover{
  color: #696969;
}

.fundo_diferente{
  background-image: linear-gradient(to right, #1C1C1C);
}

.img_topo{
    width: 1000px; 
}

.img_corpo{
    width: 100%;
  
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color:#FFFAFA;
    font-size: 3em;
    font-family: 'Alfa Slab One', cursive;
}

h2{
    text-align: center;
    color:#FF0000;
    font-size: 2em;
    margin-bottom: 1%;
    font-family: 'Alfa Slab One', cursive;
  }

p{
    font-size: 1.4rem;
    color:#FFFAFA;
    text-align: justify;
    text-indent: 40px;
    font-family: 'Mukta', sans-serif;
}

.top_jogadores > p{
    
  font-size: 2em;
}

.pinta_botao{
   width: 150px;
   height: 50px;
   background-image: linear-gradient(#FFE4E1);
   margin: auto;
   padding: 0.8%;
  text-align: center;  
  padding-top: 3%;

}

.pinta_botao:hover{
  background-color: rgba(105,105,105,0.3);
}

.pinta_botao a:link, .pinta_botao :visited{
  text-align: center;
  text-decoration: none ;    

}

footer > p{
  font-size: 1.2em;
  text-align: center;
}

section{
  margin-top: 2%;
  margin-bottom: 2%;
}

.escondido{
  display: none;
}

.direita{
  float:right;
  width: 40%;
  margin-left: 2%;

}

.esquerda{
  float: left;
  width: 30%;
  margin-right: 2%;
}

table{
  border-collapse: collapse;
  width: 100%;
  margin-top: 2%;
  font-family:'Mukta', sans-serif;
}

th{
  font-size: 1.5em ;
  font-weight: bolder;
}

td,th{
  border: 5px outset #FF0000;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(148, 144, 144, 0.3);
}

td:first-child{
  width: 40%;
}

td:first-child + td{
  width: 60%;
}

audio::-webkit-media-controls-panel{
  background-color:rgba(240, 248, 255, 0.3) !important;
  }

  .borda_form{
    background-color: rgba(128, 128, 128, 0.3) ;
    padding: 20px;
    border-radius: 25px;
    margin-top: 1%;
    box-sizing: border-box;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Mukta', sans-serif;

  }

  input[type=text], select, textarea, input[type=tel], input[type=email] {
    width: 96%;
    padding: 12px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 15px;
    resize: vertical;
    font-family: 'Mukta', sans-serif;
  }
 

.col-25{
  width: 25%;
  float: left;
  margin-top: 6px;

}

.col-75{
width: 75%;
float: left;
margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=submit] {
  background-color: #ff0000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: black;
  font-weight: bolder;
 
}

.botaoform{
  margin-top: 3%;
}


@media screen and (max-width:600px) {

  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
   
  }

  .banner{
    margin-top: 40%;
  }

  .logo{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
  }

  .descer{
    margin-top: 50%;
  }
}
/*Faz uma alteração quando a tela fica maior que 601px */
@media screen and (min-width:601px) {

  header{
    flex-direction: row;
  }

  .itens_menu{
    position: absolute;
    right: 3%;
    top: 30%;
    width: 70%;

  }

  .itens_menu ul li {
        display: inline;
        margin-left: 1%;


  }

  .banner{
    margin-top: 8%;
  }

  .logo{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    width: 30%;
  }

  .descer{
    margin-top: 10%;
  }

    
}

 

  

 



